.card-background {
    height: 3000px;
    margin-top: 800px;
    margin-bottom: 1600px;
}
.card-box img {
    display: block;
    margin: auto;
    max-width: 80%;
}
.card-box {
    position: sticky;
    top: 400px;
    margin-top: 200px;
    transition: all 0.2s;
}