.grey {
    background-color: lightgrey;
    height: 2000px;
    margin-top: 500px;
}
.image {
    float: right;
    width: 400px;
    position: sticky; /* position : fixed랑 유사 / 조건부로 fixed */
    top: 100px;
}
.text {
    float: left;
    width: 300px;
}