.list-group {
    display: none;
}
.show {
    display: block;
}
.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 5;
    padding: 30px;
    /* display: none; */
    visibility: hidden; /* 애니메이션을줄 때 dsiplay: none 대용 */
    opacity: 0;
    transition: all 1s;
}
.white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
}
.show-modal {
    display: none;
    visibility: visible;
    opacity: 1;
}
.main-bg {
    padding: 100px 20px;
    background: lightgrey;
}