:root {
    scroll-behavior: auto; /* scroll바 천천히 움직이지 X */
}

.list-group {
    display: none;
}
.show {
    display: block;
}
.black-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0,0,0,0.5);
    z-index: 6;
    padding: 30px;
    /* display: none; */
    visibility: hidden; /* 애니메이션을줄 때 dsiplay: none 대용 */
    opacity: 0;
    transition: all 1s;
}
.white-bg { 
    background: white;
    border-radius: 5px;
    padding: 30px;
}
.show-modal {
    display: none;
    visibility: visible;
    opacity: 1;
}
.main-bg {
    padding: 100px 20px;
    background: lightgrey;
}
/* .dark {
    background-color: black;
    color: white;
} */
.slide-container {
    width: 300vw;
    transition: all 1s;
}
.slide-box {
    width: 100vw;
    float: left;
}
.slide-box img {
    width: 100%;
}
.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
}
.navbar-brand {
    font-size: 30px;
    transition: all 1s;
}