.alert-box {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
    display: none;
    margin-bottom: 5px;
}
.alert-btn {
    border: none;
    padding: 5px;
    color: white;
    padding: 5px;
    border-radius: 5px;
    margin-left: 3px;
}
.open {
    background-color: pink;
}
.close {
    background-color: skyblue;
}
.btn {
    background-color: cornflowerblue;
}