<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/fried.css">
    <title>튀김</title>
</head>
<body>
    <div class="main_fried">
        <p>바삭바삭한 떡볶이 필수메뉴!</p>
        <div class="content">
            <div class="food_16">
                <img src="../image/16.png" width="200px" height="200px" />
                <p class="16">어묵튀김</p>
                <p class="2_1">1500</p>
            </div>
            <div class="food_17">
                <img src="../image/17.png" width="200px" height="200px" />
                <p class="17">삼각만두</p>
                <p class="2_1">1500</p>
            </div>
            <div class="food_18">
                <img src="../image/18.png" width="200px" height="200px" />
                <p class="18">고기군만두</p>
                <p class="2_1">1500</p>
            </div>
            <div class="food_19">
                <img src="../image/19.png" width="200px" height="200px" />
                <p class="19">치즈스틱</p>
                <p class="2_1">2000</p>
            </div>
            <div class="food_20">
                <img src="../image/20.png" width="200px" height="200px" />
                <p class="20">오징어튀김</p>
                <p class="2_1">2500</p>
            </div>
            <div class="food_21">
                <img src="../image/21.png" width="200px" height="200px" />
                <p class="21">짬뽕만두</p>
                <p class="2_1">2500</p>
            </div>
            <div class="food_22">
                <img src="../image/22.png" width="200px" height="200px" />
                <p class="22">짜장만두</p>
                <p class="2_1">2500</p>
            </div>
            <div class="food_23">
                <img src="../image/23.png" width="200px" height="200px" />
                <p class="23">새우튀김</p>
                <p class="2_1">2000</p>
            </div>
            <div class="food_24">
                <img src="../image/24.png" width="200px" height="200px" />
                <p class="24">야채튀김</p>
                <p class="2_1">1500</p>
            </div>
            <div class="food_25">
                <img src="../image/25.png" width="200px" height="200px" />
                <p class="25">고구마튀김</p>
                <p class="2_1">2000</p>
            </div>
            <div class="food_26">
                <img src="../image/26.png" width="200px" height="200px" />
                <p class="26">김말이튀김</p>
                <p class="2_1">2000</p>
            </div>
            <div class="food_27">
                <img src="../image/27.png" width="200px" height="200px" />
                <p class="27">고추튀김</p>
                <p class="2_1">2000</p>
            </div>
            <div class="food_28">
                <img src="../image/28.png" width="200px" height="200px" />
                <p class="28">순살치킨</p>
                <p class="2_1">5000</p>
            </div>
            <div class="food_29">
                <img src="../image/29.png" width="200px" height="200px" />
                <p class="29">순살치킨(치즈)</p>
                <p class="2_1">5500</p>
            </div>
            <div class="food_30">
                <img src="../image/30.png" width="200px" height="200px" />
                <p class="30">치즈볼</p>
                <p class="2_1">2000</p>
            </div>
        </div>
    </div>
</body>
</html>