<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/friend.css">
    <title>친구</title>
</head>
<body>
    <div class="main_friend">
        <p>쓱쓱 비벼먹고 찍어먹고!</p>
        <div class="content">
            <div class="food_31">
                <img src="../image/31.png" width="200px" height="200px" />
                <p class="31">비밥</p>
                <p class="3_1">2000</p>
            </div>
            <div class="food_32">
                <img src="../image/32.png" width="200px" height="200px" />
                <p class="32">참치마요컵밥</p>
                <p class="3_1">3500</p>
            </div>
            <div class="food_33">
                <img src="../image/33.png" width="200px" height="200px" />
                <p class="33">치즈컵밥</p>
                <p class="3_1">3000</p>
            </div>
            <div class="food_34">
                <img src="../image/34.png" width="200px" height="200px" />
                <p class="34">돈가스컵밥</p>
                <p class="3_1">3500</p>
            </div>
            <div class="food_35">
                <img src="../image/35.png" width="200px" height="200px" />
                <p class="35">찰순대</p>
                <p class="3_1">3500</p>
            </div>
            <div class="food_36">
                <img src="../image/36.png" width="200px" height="200px" />
                <p class="36">어묵우동</p>
                <p class="3_1">4000</p>
            </div>
            <div class="food_37">
                <img src="../image/37.png" width="200px" height="200px" />
                <p class="37">물어묵</p>
                <p class="3_1">3500</p>
            </div>
            <div class="food_38">
                <img src="../image/38.png" width="200px" height="200px" />
                <p class="38">빨간어묵</p>
                <p class="3_1">3500</p>
            </div>
            <div class="food_39">
                <img src="../image/39.png" width="200px" height="200px" />
                <p class="39">햄치즈토스트</p>
                <p class="3_1">2500</p>
            </div>
            <div class="food_40">
                <img src="../image/40.png" width="200px" height="200px" />
                <p class="40">납작만두</p>
                <p class="3_1">2500</p>
            </div>
            <div class="food_41">
                <img src="../image/41.png" width="200px" height="200px" />
                <p class="41">한입비빔만두</p>
                <p class="3_1">5500</p>
            </div>
            <div class="food_42">
                <img src="../image/42.png" width="200px" height="200px" />
                <p class="42">김치참치김밥</p>
                <p class="3_1">2500</p>
            </div>
            <div class="food_43">
                <img src="../image/43.png" width="200px" height="200px" />
                <p class="43">돈가스김밥</p>
                <p class="3_1">3500</p>
            </div>
            <div class="food_44">
                <img src="../image/44.png" width="200px" height="200px" />
                <p class="44">스팸김치볶음밥</p>
                <p class="3_1">6000</p>
            </div>
            <div class="food_45">
                <img src="../image/45.png" width="200px" height="200px" />
                <p class="45">치킨데리야끼볶음밥</p>
                <p class="3_1">6000</p>
            </div>
            <div class="food_46">
                <img src="../image/46.png" width="200px" height="200px" />
                <p class="46">새우볶음밥</p>
                <p class="3_1">6000</p>
            </div>
            <div class="food_47">
                <img src="../image/47.png" width="200px" height="200px" />
                <p class="47">신참라면</p>
                <p class="3_1">3500</p>
            </div>
            <div class="food_48">
                <img src="../image/48.png" width="200px" height="200px" />
                <p class="48">돈가스</p>
                <p class="3_1">6000</p>
            </div>
        </div>
    </div>
</body>
</html>