<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <title>신참떡볶이</title>
</head>
<body>
    <div class="main_page">
        <img src="../image/logo.png" />
        <p class="main_text">분식을 주문하세요!</p>
        <a href="../views/tteokbokki.html">떡볶이</a>
        <a href="../views/fried.html">튀김</a>
        <a href="../views/friend.html">친구</a>
    </div>
</body>
</html>