<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/tteokbokki.css">
    <title>떡볶이</title>
</head>
<body>
    <div class="main_tteokbokki">
        <p>신참, 달참, 순참 3가지 맛 선택 가능!</p>
        <div class="content">
            <div class="food_1">
                <img src="../image/1.png" width="200px" height="200px" />
                <p class="1">떡볶이</p>
                <p class="1_1">3000</p>
            </div>
            <div class="food_2">
                <img src="../image/2.png" width="200px" height="200px" />
                <p class="2">고참떡볶이</p>
                <p class="1_1">3000</p>
            </div>
            <div class="food_3">
                <img src="../image/3.png" width="200px" height="200px" />
                <p class="3">격신떡볶이</p>
                <p class="1_1">3000</p>
            </div>
            <div class="food_4">
                <img src="../image/4.png" width="200px" height="200px" />
                <p class="4">쌀떡볶이</p>
                <p class="1_1">4000</p>
            </div>
            <div class="food_5">
                <img src="../image/5.png" width="200px" height="200px" />
                <p class="5">짜장떡볶이</p>
                <p class="1_1">4500</p>
            </div>
            <div class="food_6">
                <img src="../image/6.png" width="200px" height="200px" />
                <p class="6">라볶이</p>
                <p class="1_1">4500</p>
            </div>
            <div class="food_7">
                <img src="../image/7.png" width="200px" height="200px" />
                <p class="7">치즈라볶이</p>
                <p class="1_1">6500</p>
            </div>
            <div class="food_8">
                <img src="../image/8.png" width="200px" height="200px" />
                <p class="8">치즈떡볶이</p>
                <p class="1_1">5000</p>
            </div>
            <div class="food_9">
                <img src="../image/9.png" width="200px" height="200px" />
                <p class="9">치킨볶이</p>
                <p class="1_1">6000</p>
            </div>
            <div class="food_10">
                <img src="../image/10.png" width="200px" height="200px" />
                <p class="10">순대떡볶이</p>
                <p class="1_1">5000</p>
            </div>
            <div class="food_11">
                <img src="../image/11.png" width="200px" height="200px" />
                <p class="11">달고마떡볶이</p>
                <p class="1_1">6500</p>
            </div>
            <div class="food_12">
                <img src="../image/12.png" width="200px" height="200px" />
                <p class="12">로제떡볶이</p>
                <p class="1_1">7000</p>
            </div>
            <div class="food_13">
                <img src="../image/13.png" width="200px" height="200px" />
                <p class="13">부대모둠떡볶이</p>
                <p class="1_1">8500</p>
            </div>
            <div class="food_14">
                <img src="../image/14.png" width="200px" height="200px" />
                <p class="14">비조리떡볶이</p>
                <p class="1_1">6900</p>
            </div>
            <div class="food_15">
                <img src="../image/15.png" width="200px" height="200px" />
                <p class="15">사리추가</p>
                <p class="1_1">1000 ~ 2000</p>
            </div>
        </div>
    </div>
</body>
</html>